<!DOCTYPE HTML>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1200" />

  {{#if fjson.title}}
    <title>{{{fjson.title}}} - Monaca Docs</title>
  {{else}}
    <title>Monaca Docs - Cloud-powered Cordova Dev Platform</title>
  {{/if}}
  
  <script src="/static/js/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="/static/js/jquery.fancybox.pack.js"></script>
  <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Source+Code+Pro:500,700'>
  <link rel="stylesheet" href="/static/css/jquery.fancybox.css">
  <link rel="stylesheet" href="/static/css/common.css?20150406" type="text/css" />
  <link rel="stylesheet" href="/static/css/highlight.css?20150406" type="text/css" />
  <link rel="stylesheet" href="/static/css/print.css?20150406" type="text/css" media="print" />
  <link rel="stylesheet" href="/static/css/spinner.css" type="text/css" />

  <!--[if lt IE 9]>
  <script type="text/javascript" src="/static/js/html5shiv.js"></script>
  <script type="text/javascript" src="/static/js/selectivizr-min.js"></script>
  <![endif]-->

  <script type="text/javascript" src="/static/js/util.js"></script>
  <script type="text/javascript" src="/static/js/jquery.highlight-4.closure.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    var LANG = "{{lang}}";
    var VERSION = "{{VERSION}}";
  </script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-526750-24']);
    _gaq.push(['_setDomainName', '.monaca.mobi']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>

<body id="" data-lang="{{lang}}" class="{{#unless toctree}}no-sidebar{{/unless}} {{#if fjson.body}}from-rst{{/if}}">
  <a name="top"></a>

  {{> header }}

  <article id="body-container" class="main">

      <nav class="header-nav">
        {{#if fjson.prev}}
          <p class="prev"><a href="{{{fjson.prev.link}}}"><span>{{{fjson.prev.title}}}</span></a></p>
        {{/if}}
        {{#if fjson.next}}
          <p class="next"><a href="{{{fjson.next.link}}}"><span>{{{fjson.next.title}}}</span></a></p>
        {{/if}}
      </nav>
    
    <!-- {{#if fjson.title}}     -->
      <div class="title_breadcrumb">
        {{#is lang "ja"}}
          <a href="/ja/">ドキュメントTOP</a>
        {{else}}
          <a href="/en/">Document TOP</a>
        {{/is}}
        {{#each fjson.parents as |parent|}}
        &raquo; <a href="{{{parent.link}}}"><span>{{{parent.title}}}</span></a>
        {{/each}}
        &raquo; <span>{{{fjson.title}}}</span>
      </div>
    <!-- {{/if}} -->

    {{#if fjson.body}}
      {{{fjson.body}}}
    {{else}}
      {{{contents}}}
    {{/if}}
  </article>

  {{#if toctree}}
    {{> sidebar }}
  {{/if}}

  <a href="#top" class="scrollup">Scroll</a>

  <footer class="global">
    <div class="footer-nav">
      {{#is lang "ja"}}
        <a id="footer-nav-feedback" href="javascript:void(0)" onclick="switchLanguage('{{lang}}','en')">English</a>
        <a href="https://ja.monaca.io/service/" id="footer-nav-feedback">Feedback</a>
      {{else}}
        <a id="footer-nav-feedback" href="javascript:void(0)" onclick="switchLanguage('{{lang}}','ja')">日本語版</a>
        <a href="https://monaca.io/service/" id="footer-nav-feedback">Feedback</a>
      {{/is}}
    </div>
    <p class="copyright">Copyright &copy; 2011-2016 Asial Corporation. All rights reserved.</p>
  </footer>

  <script>
    function switchLanguage(currentLanguage,switchLanguage) {
      location.href = location.href.replace(currentLanguage,switchLanguage);
    }
    function switchVersion(switchVersion) {
      var currentVersion = "{{cordovaVersion.versionPath}}";
      location.href = location.href.replace(currentVersion, switchVersion);
    }
    if (["/en/", "/ja/"].indexOf(location.pathname) >= 0) {
      document.body.classList.add("home");
    }
  </script>

</body>
</html>
