$aside-padding: 22px;

aside.global {
  float: right;
  font-size: 16px;
  padding: 121px 0px 40px 0px;
  width: 288px;
  @include box-sizing(border-box);

  /* searchbox */
  div.aside-search {
    background-color: #e0e0e0;
    padding: 15px 13px;

    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #777;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #777;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #777;
    }

    .spinner {
      position: absolute;
      top: 0;
      left: 0;
    }

    > input[type=text] {
      background: url(/static/img/common/ico_magnifying_glass.png) no-repeat 9px 6px #ffffff;
      border-radius: 14px;
      height: 28px;
      border-width: 0px;
      display: inline-block;
      width: 224px;
      padding: 0px 0 0 35px;
      color: #333333;
      font-size: 14px;

      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #777;
      }
    }

    > span.button {
      position: absolute;
    }

    > span#aside-search-upper-arrow {
      background-image: url(/static/img/common/arrow_upper_14px.png);
      top: 24px;
      left: 268px;
      height: 10px;
      cursor: pointer;
      width: 14px;
      &:hover {
        background-position: 0px 10px;
      }
    }

    > span#aside-search-down-arrow {
      background-image: url(/static/img/common/arrow_lower_14px.png);
      top: 24px;
      left: 288px;
      height: 10px;
      width: 14px;
      cursor: pointer;
      &:hover {
        background-position: 0px 10px;
      }
    }

    > span#aside-search-clear {
      background-image: url(/static/img/common/btn_close_16px.png);
      top: 21px;
      right: 24px;
      height: 16px;
      width: 16px;
      cursor: pointer;
      &:hover {
        background-position: 0px 16px;
      }
    }
  }

  div.aside-search-notfound {
    position: absolute;
    top: 58px;
    right: 0px;
    left: 0px;

    text-align: center;
    > h2 {
      border: 0px;
      margin: 20px 0 7px 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      color: #444;
    }
    > p {
      font-size: 14px;
      line-height: 20px;
      color: #444;
    }
  }

  div.aside-searching {
    position: absolute;
    top: 58px;
    right: 0px;
    left: 0px;
    text-align: center;
    > h2 {
      border: 0px;
      margin: 20px 0 7px 0;
      padding: 0;
    }
    > p {
      font-size: 14px;
      line-height: 20px;
      color: #444;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* toc */
  nav.aside-main {
    background-color: #f2f2f2;
    padding-right: 10px;
    padding-bottom: 20px;

    > div.aside-search-result-info {
      background-color: #ffff80;
      color: #444;
      line-height: 24px;
      font-size: 13px;
      height: 24px;
      border-bottom: #ccc;
      padding-left: $aside-padding;
      border-bottom: 1px solid #ccc;
    }

    > div {

      > ul {
        margin-left: 0;
        padding-top: 10px;
        li {
          color: #5d89cb;
          font-size: 1.14rem;
          line-height: 1.2;
          margin: 0;
          padding: 6px 0 6px $aside-padding;
          position: relative;
          @include all-a(#5d89cb,none);
          @include transition(background-color 100ms);
          &:before {
            content: "";
            width: 0;
            height: 0;
            border: 3px solid transparent;
            border-top-color: #444;
            border-right-color: #444;
            @include transform(rotate(45deg));
            position: absolute;
            top: 14px;
            left: 10px;
          }

          a {
            box-sizing: border-box;
            display: inline-block;
            font-weight: 700;
            width: 100%;
            height: 100%;
            word-break: break-word;
            &:link,
            &:visited {
              color: #444;
            }
            &:hover {
              color: #444;
              text-decoration: underline;
            }
            &:active {
              color: #444;
            }
            > img {
              width: 9px;
              margin-right: 7px;
            }
          }
          
          li {
            font-size: 0.93rem;
            padding-top: 8px;
            padding-bottom: 0;
            &:before {
              top: 14px;
            }
          }
          &.current {
            padding: 0;
            > a {
              background-color: $monaca-blue;
              padding-left: $aside-padding;
              font-weight: bold;
              &, &:link, &:hover, &:visited {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}


/*Table of Content (right menu)*/
div.contents.local.right-menu.topic {
  padding-top: 10px;
  width: 170px;
  position: fixed;
  top: 192px;
  right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  border: 1px solid #ededed;
  border-top: 3px solid #35527c;
  background-color: #f9f9f9;
  font-family: 'Open Sans Condensed';
  font-size: 20px;
  padding-bottom: 5px;
  p.topic-title {
    &.first {
      cite {
        color: #35527c;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
  ul.simple {
    font-size: 13px;
    padding-top: 10px;
    margin-left: -14px;
    li {
      font-weight: bold;
      line-height: 150%;
      a {
        word-wrap: break-word;
        margin-right: 0px;
      }
      li {
        margin-left: 15px;
      }
    }
  }
  @media screen and (max-height: 720px) { //720px is the limit for displaying sampleapps page
    position: absolute;
  }
}

div.admonition {
  clear: both;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 20px 0 30px 0;
  padding: 15px 20px 15px 55px;
  &.note {
    border: 1px solid #b7c27a;
    background: url(../img/common/ico_note.png) 20px center no-repeat #edf1d7;
  }
  &.warning {
    color: #a42d2d;
    border: 1px solid #a42d2d;
    background: #fae8e8 url(../img/common/icon_warning.png) 20px center no-repeat;
  }
  /*See Also*/
  &.seealso {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ededed;
    border-top: 3px solid #35527c;
    background-color: #f9f9f9;
    font-family: 'Open Sans Condensed';
    /*font-family: "Open Sans Condensed"*/
    font-size: 20px;
    color: #35527c;
    padding-bottom: 5px;
    a {

      font-size: 13px;
      em {
        margin-left: -3px;
      }
    }
    ul.simple {
      color: #333;
      font-size: 13px;
      padding-top: 10px;
      margin-left: -25px;
      li {
        line-height: 150%;
      }
    }
  }
  p {

    &.admonition-title {
      display: none;
    }
  }
}
