$aside-padding: 0;

aside.global {
  float: right;
  font-size: 16px;
  padding: 55px 0px 40px 0px;
  width: 288px;
  @include box-sizing(border-box);

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* css for google search */
  div.aside-search {
    padding: 0;
    margin-right: 15px;
  }

  .gsc-input-box {
      height: 30px;
  }

  div.aside-search .cse .gsc-control-cse, .gsc-control-cse {
    padding: 0;
    width: auto;
  }

  div.aside-search .gsib_a {
      width: 100%;
      padding: 5px 6px 3px;
  }

  div.aside-search .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width: 56px;
    height: 30px;
    padding: 4px 18px 4px 18px;
    min-width: 13px;
    margin-top: 5px;
    margin-right: 5px;
  }

  /* css for google search */

  /* toc */
  nav.aside-main {
    background-color: #f2f2f2;
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-right: 20px;

    > div.aside-search-result-info {
      background-color: #ffff80;
      color: #444;
      line-height: 24px;
      font-size: 13px;
      height: 24px;
      border-bottom: #ccc;
      padding-left: $aside-padding;
      border-bottom: 1px solid #ccc;
    }

    > div {

      > ul {
        margin-left: 0;
        padding-top: 10px;
        > li {
          > a {
            color: #444;
            text-decoration: none;
            font-weight: bold;
            padding: 10px;
          }
          > ul {
            padding: 1em 1em 1em 0;
            li {
              color: #5d89cb;
              line-height: 1.5;
              margin: 0;
              padding: 6px 0 6px $aside-padding;
              position: relative;
              @include all-a(#5d89cb,none);
              @include transition(background-color 100ms);

              a {
                padding-left: 5px;
                box-sizing: border-box;
                display: inline-block;
                width: 100%;
                height: 100%;
                word-break: break-word;
                &:link,
                &:visited {
                  color: $monaca-blue;
                }
                &:hover {
                  color: $monaca-blue;
                  text-decoration: underline;
                }
                &:active {
                  color: $monaca-blue;
                }
                > img {
                  width: 9px;
                  margin-right: 7px;
                }
              }

              &.current {
                > a {
                  background-color: $monaca-blue;
                  padding-top: 0.5em;
                  padding-bottom: 0.5em;
                  text-decoration: none;
                  &, &:link, &:hover, &:visited {
                    color: white;
                  }
                }
              }
            }
          }
          
          li {
            font-size: 1.3rem;
            padding-top: 8px;
            padding-bottom: 0;
            &:before {
              top: 14px;
            }
          }
        }
      }
    }
  }
}


/*Table of Content (right menu)*/
div.contents.local.right-menu.topic {
  padding-top: 10px;
  width: 170px;
  position: fixed;
  top: 192px;
  right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  border: 1px solid #ededed;
  border-top: 3px solid #35527c;
  background-color: #f9f9f9;
  font-family: 'Open Sans Condensed';
  font-size: 20px;
  padding-bottom: 5px;
  p.topic-title {
    &.first {
      cite {
        color: #35527c;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
  ul.simple {
    font-size: 13px;
    padding-top: 10px;
    margin-left: -14px;
    li {
      font-weight: bold;
      line-height: 150%;
      a {
        word-wrap: break-word;
        margin-right: 0px;
      }
      li {
        margin-left: 15px;
      }
    }
  }
  @media screen and (max-height: 720px) { //720px is the limit for displaying sampleapps page
    position: absolute;
  }
}

div.admonition {
  clear: both;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 20px 0 30px 0;
  padding: 15px 20px 15px 55px;
  &.note {
    border: 1px solid #b7c27a;
    background: url(../img/common/ico_note.png) 20px center no-repeat #edf1d7;
  }
  &.warning {
    color: #a42d2d;
    border: 1px solid #a42d2d;
    background: #fae8e8 url(../img/common/icon_warning.png) 20px center no-repeat;
  }
  /*See Also*/
  &.seealso {
    position: absolute;
    width: 267px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ededed;
    border-top: 3px solid #35527c;
    /*background-color: #f9f9f9;*/
    background-color: #f2f2f2;
    font-family: 'Open Sans';
    /*font-family: "Open Sans Condensed"*/
    font-size: 16px;
    color: #35527c;
    padding-bottom: 5px;
    a {

      font-size: 13px;
      em {
        margin-left: -3px;
      }
    }
    ul.simple {
      color: #333;
      font-size: 13px;
      padding-top: 10px;
      margin-left: -30px;
      li {
        line-height: 200%;
      }
    }
  }
  p {

    &.admonition-title {
      display: none;
    }
  }
}
