header.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222;
    border-width: 0px;
    border-radius: 0;
    width: 100%;
    z-index: 100;
    font-family: Open Sans,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 14px;
    a:link {text-decoration: none;}
    a:visited {text-decoration: none;}
    .container {
        width: $width;
        @media screen and (max-width: $break-xl) {
            width: 100%;
        }
        @media screen and (max-width: $break) {
            padding: 0;
        }
        .header-accordion {
          background-color: #222;
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height 420ms;
          -moz-transition: max-height 420ms;
          -o-transition: max-height 420ms;
          transition: max-height 420ms;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        .header-accordion.on {
          max-height: 750px;
        }
        .header-accordion.on:lang(ja) {
          max-height: 1300px;
        }
        .header-accordion.loggedin.on {
          max-height: 850px;
        }
        .header-accordion.loggedin.on:lang(ja) {
          max-height: 1420px;
        }
    }
    .navbar-header {
        margin: 0;
        .navbar-brand {
            margin: 0;
            padding: 13px 0;
            @media screen and (max-width: $break) {
                padding-left: 16px;
            }
            img {
                width: 110px;
                left: 20px;
                position: absolute;
            }
        }
        .navbar-toggle {
            background-color: rgba(0, 0, 0, 0.16);
            border-radius: 0;
            border: none;
            height: 50px;
            margin: 0;
            padding: 0 0 0 15px;
            position: relative;
            text-align: left;
            width: 52px;
            .icon-bar {
                opacity: 0;
                transition: opacity 140ms;
            }
            .icon-bar-left, .icon-bar-right {
                position: absolute;
                background-color: #ffffff;
                transition: transform 140ms cubic-bezier(.34, .94, .69, 1);
                transform-origin: bottom center;
                float: left;
                width: 14px;
                height: 2px;
            }
            .icon-bar-left {
                top: 24px;
                left: 15px;
                border-radius: 1px 0 0 1px;
                transform: rotate(-45deg);
            }
            .icon-bar-right {
                top: 24px;
                right: 15px;
                border-radius: 0 1px 1px 0;
                transform: rotate(45deg);
            }
            .icon-bar + .icon-bar {
                clear: both;
                margin-top: 10px;
            }
            &.collapsed {
                background-color: transparent;
                .icon-bar {
                    opacity: 1;
                }
                .icon-bar-left {
                    transform: rotate(0);
                    width: 12px;
                }
                .icon-bar-right {
                    transform: rotate(0);
                    width: 12px;
                }
            }
        }
    }
    .navbar-collapse {
        border-top: none;
        box-shadow: none;
        float: none;
        @media screen and (max-width: $break - 1px) {
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.16), #2c2c2c);
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.16), #2c2c2c 60%);
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
        @media screen and (min-width: 641px) {
            padding-left: 15px;
            padding-right: 0;
        }
    }
    .navbar-nav {
        .dashboard {
            text-decoration: underline;
        }
        .nav-title {
            color: #80d4ff;
            display: inline-block;
            height: 50px;
            line-height: 51px;
            padding: 0 4px;
            &:hover {
                text-decoration: none;
            }
        }
        > li > a {
            color: #ffffff;
            padding: 16px 10px 14px;
            -webkit-font-smoothing: antialiased;
            &.login {
                color: #7cdaff;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .pc {
            display: block;
                @media screen and (max-width: $break) {
                    display: none;
                }
        }
        .sp {
            display: none;
            @media screen and (max-width: $break) {
                    display: block;
                    a {
                        text-align: left;
                        text-decoration: underline;
                        color: #80d4ff;
                        font-weight: bold;
                        img {
                            margin: 0 5px 0 0;
                            vertical-align: middle;
                        }
                    }
                }
        }
        .nav-user {
            background: url("../img/common/user-menu-triangle.png") no-repeat scroll right center;
            .user-icon {
                vertical-align: -7px;
            }
        }
        .dropdown:hover > .dropdown-toggle {
            background-color: #2c2c2c;
            color: #7cdaff;
        }
        @media screen and (max-width: $break) {
            .nav-dashboard {
                text-align: left;
            }
            .dropdown-toggle {
                color: white;
            }
            > li > a {
                color: #0088cc;
                font-weight: 700;
                padding-left: 16px;
                text-align: left;
            }
            .dropdown:hover > .dropdown-toggle {
                background-color: transparent;
                color: #ffffff;
            }
        }
    }
    .dropdown-menu {
        @extend .dropdown-menu-dark;
        border-top: none;
        margin-top: -1px;
        padding: 15px 0 18px;
        left: 0;
        right: auto;
        @media screen and (max-width: $break) {
            background: none transparent;
            border-color: transparent;
            box-shadow: none;
            display: block;
            padding: 0;
            position: static;
            top: auto;
            left: auto;
            float: none;
            li a {
                color: #0088cc;
                padding-left: 30px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            li a.nav-title {
                color: #80d4ff;
                font-weight: bold;
            }
        }
    }
    .nav-user {
        .dropdown-menu {
            @extend .dropdown-menu;
            left: -110px;
        }
    }
    //bootstrap init
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    .glyphicon-new-window {
        top: 4px;
        transform: scale(0.9);
        &:before {
            content: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#ffffff" d="M1408 928v320q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-320q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19-45-19l-176-176-652 652q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45 45-19h512q26 0 45 19t19 45z"/></svg>');
        }
    }
    @media screen and (max-width: $break) {
        .dropdown.open .dropdown-menu > li > a {
            color: #0088cc;
            padding: 0 0 0 30px;
            line-height: 39px;
        }
    }
}

// Desktop header toolbar: margin fix
@media screen and (min-width: $break) {
    html[lang=en] {
        .navbar-nav > li > a {
            @media screen and (max-width: 860px) {
                font-size: 14px;
                padding-left: 8px;
                padding-right:8px;
            }
        }
        .navbar-nav {
            .nav-title {
                @media screen and (max-width: 860px) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @media screen and (max-width: 820px) {
                    padding-left: 2px;
                    padding-right: 2px;
                }
            }
        }
    }
}
html[lang=ja] {
    .navbar-nav > li > a {
        @media screen and (max-width: $width) {
            font-size: 14px;
            padding: 16px 10px 14px;
        }
        @media screen and (max-width: 1000px) {
            font-size: 14px;
            padding: 16px 6px 14px;
        }
        @media screen and (max-width: 860px) {
            font-size: 14px;
            padding: 16px 4px 14px;
        }
        // @media screen and (max-width: 1170px) {
        //     //padding-left: 8px;
        //     //padding-right: 8px;
        // }
        @media screen and (max-width: 1070px) {
            //font-size: 13px;
            .opt {
                display: none;
            }
        }
        @media screen and (max-width: 960px) {
            //font-size: 12px;
        }
        @media screen and (max-width: 900px) {
            //padding-left: 4px;
            //padding-right: 4px;
        }
        @media screen and (max-width: 820px) {
            //padding-left: 2px;
            //padding-right: 2px;
        }
    }
}

#language-switch-container {
    z-index: 9;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.1);

    #language-switch {
        width: 536px;
        margin: 200px auto 0;
        padding: 32px;
        color: white;
        background-color: #3c4758;
        z-index: 10;
        font-size: 20px;
        @media screen and (max-width: $break) {
            width: 92%;
            box-sizing: border-box;
            padding: 32px percentage(30px/640px);
        }
    }

    a.btn-lang-switch {
        @extend %flat-btn;
        color: white;
        background-color: #468fff;
        border: none;
        font-weight: 600;
        height: 45px;
        font-size: 20px;
        line-height: 46px;
        &:hover {
            opacity: 0.8;
        }
    }

    p {
        margin: 0 0 32px 0;
    }

    p.language-switch-button-container {
        margin: 10px 0;
        text-align: center;
    }
    .close {
        float: right;
        margin-top: -8px;
        margin-right: -8px;
    }
}

header.global {
  background-color: #ffffff;
  border-bottom: 1px solid #c2c0c1;
  color: #333;
  height: 70px;
  z-index: 1;
  position: inherit;
  top: 50px;
  left: 0px;
  width: 100%;
  @include clearfix-after();
  a:link {color: $monaca-blue; text-decoration: none;}
  a:visited {color: $monaca-blue; text-decoration: none;}
  a:hover {color: $monaca-blue; text-decoration: underline; width: auto;}
  a:active {color: $monaca-blue; text-decoration: none;}

  .currentVersion {
    font-weight: bold;
    padding: 0 0.25em;
  }

  .alternativeVersion {
    padding: 0 0.25em;
  }

  .headcont {
    box-sizing: border-box;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  .site-logo {
    position: absolute;
    top: 15px;
    left: 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 12px 0 0 0;
  }
  .version_selector {
    position: absolute;
    font-family: 'Open Sans', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    top: 35px;
    right: 20px;
    select {
      border-radius: 2px;
      padding: 4px;
    }
  }

  nav.global {
    position: absolute;
    top: 0;
    left: 306px;
    min-width: 610px;
    div {
      > ul {
        @include clearfix-after;
        > li {
          $time: 180ms;
          background-color: #ffffff;
          color: white;
          font-size: 16px;
          float: left;
          height: 100%;
          width: auto;
          position: relative;
          text-align: center;
          &.current {
            > a {
              border-bottom: 2px solid $monaca-blue;
              color: $monaca-blue;
              &:hover {color: $monaca-blue;}
              &:visited {color: $monaca-blue;}
              &:active {color: $monaca-blue;}
            }
            &:hover > a {
              color: white;
            }
          }
          > a {
            border-bottom: 2px solid transparent;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
            width: auto;width: auto;
            height: 69px;
            line-height: 28px;
            padding: 23px 13px 0;
            &:link {color: #333; text-decoration: none;}
            &:visited {color: #333; text-decoration: none;}
            &:hover {color: #fff; text-decoration: none;}
            &:active {color: #333; text-decoration: none;}
          }
          ul {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            top: 70px;
            left: 0px;
            width: auto;
            min-width: 200px;
            //opacity: 0;
            position: absolute;
            text-align: left;
            visibility: hidden;
            z-index: 11;
            -webkit-transition: visibility 0s linear $time, opacity $time;
            -moz-transition: visibility 0s linear $time, opacity $time;
            -o-transition: visibility 0s linear $time, opacity $time;
            transition: visibility 0s linear $time, opacity $time;
            > li {
              padding: 0;
              > a {
                background-color: #f9f9f9;
                border-bottom: 1px solid #e0e0e0;
                display: block;
                font-size: 16px;
                line-height: 40px;
                padding: 0 30px 0 20px;
                height: 40px;
                white-space: nowrap;
                width: auto;
                &, &:visited, &:hover {
                  color: #666;
                  text-decoration: none;
                }
              }
              &:last-child > a {
                border-bottom: 0px;
                height: 41px;
              }
              &:hover > a {
                border-bottom: 0px;
                height: 41px;
                background-color: $monaca-blue;
                &, &:visited, &:hover {
                  color: white;
                }
              }
            }
          }
          &:hover {
            background-color: $monaca-blue;
            opacity: 1;
            > a {
              color: #fff;
              font-weight: 700;
            }
            ul a {
              font-weight: 400;
            }
            > ul {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

//Fix navigation width even when mouseon
html[lang=en] header.global nav > div > ul > li {
  &:nth-child(1) {width: 120px;}
  &:nth-child(2) {width: 150px;}
  &:nth-child(3) {width: 88px;}
  &:nth-child(4) {width: 62px;}
  &:nth-child(5) {width: 104px;}
  &:nth-child(6) {width: 70px;}
}

//Fix navigation width even when mouseon
html[lang=ja] header.global nav > div > ul > li {
  &:nth-child(1) {width: 170px;}
  &:nth-child(2) {width: 134px;}
  &:nth-child(3) {width: 103px;}
  &:nth-child(4) {width: 60px;}
  &:nth-child(5) {width: 95px;}
  &:nth-child(6) {width: 54px;}
  a {
    padding-left: 0px;
    padding-right: 0px;
  }
}