/*NEW UI CSS*/

$monaca_dark: #3d6089;
$monaca_light: #2687ea;

@import url(https://fonts.googleapis.com/css?family=Product+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);

hr {
    border-bottom: 1px solid #ccc;
}


/*==================END OF NEW UI CSS======================*/

/*INDEX*/
.center {
  text-align: center;
  display: block;
}

div.overview-btn{
    border-radius: 8px;
    background-color: #47b98f;
    width: 350px;
    height: 60px;
    vertical-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    a.title {
        color: #fff; 
        text-decoration: none;
        font-family: 'Open Sans';
    }
}

div.overview-btn:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

#indexContents {
    margin: 0 auto;
    max-width: 1020px;
    color: #333;

    footer {
        margin: 30px auto 30px;
        width: 952px;
        float: none;
        padding: 0px;
        position: relative;
    }
    footer-nav {
        padding-top: 20px;
    }
    footer img {
        position: absolute;
        top: 0;
        right: 0px;
    }

    h1 {
        font-size: 40px;
        clear: both;
        color: #333;
    }

    h2 {
        font-size: 36px;
        color: #333;
        clear: both;

    }

    h3 {
        font-size: 32px;
        color: #333;
        clear: both;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
    }

    h4 {
        color: #333;
        font-size: 24px;
        clear: both;
        font-weight: 300;
    }
}

div.pc_style {
    @media screen and (max-width: $break) {
        display: none;
    }
}

table.products-guide {
    @media screen and (max-width: $break) {
        width: 100%;
    }
    
    width: auto;
    text-align: center;
    margin: 0px auto;
    padding: 0;
}

div.api-box {
    @media screen and (max-width: $break) {
        display: block;
        width: 40%;
    }
    width: 155px;
    border: 2px solid #3d6089;
    background-color: #dcebf9;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;

    a.title {
        color: #333; 
        text-decoration: none;
    }
}

div.api-box:hover {
    background-color: #1e629e;
    cursor: pointer;
    a.title {
        color: #fff;
    }
}

div.product-box {
    @media screen and (max-width: $break) {
        width: 40%;
        p {
            font-size: 14px;
        }
    }

    background-color: #dcebf8;
    width: 200px;
    border: 2px solid #3d6089;
    margin: 10px;
    border-radius: 10px;
    color: #333;
    text-align: left;

    p {
        padding: 10px 10px 10px 70px;
        font-size: 18px;
        text-align: center;
    }

    p.onsen {
        padding: 20px 10px 21px 70px;
    }

    hr {
        border-bottom: 1px solid #1e629e;
        margin: 0;
    }

    ul {
        padding: 15px;
        line-height: 150%;
        li {
            font-size: 16px;
            list-style-type: square;
            margin-left: 30px;

           /* a, a:link, a:active {
                color: #000; 
                text-decoration: none;
            }
            a:hover {
                color: #1e629e; 
                text-decoration: underline;
            }*/
        }
    }

    a.title {
        color: #337ab7;
        font-weight: 400;
        text-decoration: none;
    }
    a.title:hover {
        color: #3d6089; 
        cursor: pointer;
        font-weight: 400;
        text-decoration: underline;
    }
}

div.product-box:hover {
    /*opacity: 0.5;
    filter: alpha(opacity=50);*/
    cursor: pointer;
    a.title:hover {
        cursor: pointer;
    }
}


img.product-logo {
    opacity: 1;
    filter: alpha(opacity=100);
    position: absolute;
    width: 60px;
    margin: 13px 10px;
    padding: 0;
}

img.product-logo-v2 {
    position: absolute;
    width: 60px;
    margin: 8px 10px;
    padding: 0;
}

.supported-environment {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: left;
    line-height: 150%;
    p {
        color: #000;
    }

    ul {
        margin-left: 30px;
        li {
            list-style-type: disc;
        }
    }

    ul.level-2 {
        li {
            list-style-type: square;
        }   
    }
}

.monaca-updates{
    font-size: 14px;
    margin: 20px 0 50px 50px;
    text-align: left;
    line-height: 150%;

    table, th {
       padding-right: 15px;
       color: #35527c;
    }
}

p.updates-loading {
    text-align: center;
}

div.container-updates{
    @media screen and (max-width: $break) {
        display: none;
    }
    margin-top: 20px;
    width:100%; 
    background-color: #f8f6f2;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    h4 {
        color: #333;
        font-size: 24px;
        clear: both;
        font-weight: 300;
    }

    table.box-updates{
        @media screen and (max-width: $break) {
            width: auto;
        }
        width: 900px;
        max-width: 1020px;
        margin: 0 auto;
        text-align: center;
    }
}


/*============END OF INDEX=============*/


.mobile_style {
    @media screen and (min-width: $break) {
        display: none;
    }
    width: 100%;
    /*left: 0; right: 0;*/
    text-align: center;
    margin: 0px 10%;
    padding: 0;
}

.Tablist {
    /*@media screen and (min-width: $break) {
        display: none;
    }*/
    display: flex;
    flex-direction: row;
    width: 100%
    /*width: 100%;
    left: 0; right: 0;
    text-align: center;
    margin: 0px 10%;
    padding: 0;*/
}

.Tab {
    flex-wrap: wrap;
    font-size: 80%;
    width: auto;
    padding: 0.6em 1em;
    margin: 0 10px 10px 0;
    text-align: center;
    background-color: #FFF;
    border: solid 3px $monaca_dark;
    border-bottom-width: 0;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    color: darken($monaca_dark,20%);
    text-decoration: none;
    transition: background-color 0.1s;
    cursor: pointer;
    &:hover, &:focus {
    background-color: mix(white,$monaca_dark,10%);
    border-color: mix(white,$monaca_dark,10%);
    outline: none;
    }

    &[aria-selected="false"]:active {
        margin-top: 0.2em;
        padding-bottom: 0.4em;
    }

    &[aria-selected="true"] {
        background: $monaca_dark;
        cursor: default;
        color: #FFF;
    }
}

.products-tab {
    width: 100%;
    margin: -10px auto;
    border: solid 2px $monaca_dark;
}