/*INDEX*/
.center {
  text-align: center;
  display: block;
  hr {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

div.overview-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    border: 1px solid #1e629e;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    background-color: #1e629e;
    a.title {
        color: #fff; 
        text-decoration: none;
    }
}

div.overview-btn:hover {
    background-color: #fff;
    cursor: pointer;
    a.title {
        color: #1e629e;
    }
}

/*div.overview_btn{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 250px;
    padding: 10px;
    border: 1px solid #1e629e;
    border-radius: 4px;
    background-color: #1e629e;
    a.title {
        color: #fff; 
        text-decoration: none;
    }
}
div.overview_btn:hover {
    a.title {
        color: #1e629e;
    }
    cursor: pointer;
    background-color: #fff;
}*/

#indexContents {
    margin: 0 auto;
    max-width: 1020px;

    footer {
        margin: 30px auto 30px;
        width: 952px;
        float: none;
        padding: 0px;
        position: relative;
    }
    footer-nav {
        padding-top: 20px;
    }
    footer img {
        position: absolute;
        top: 0;
        right: 0px;
    }
}

table.products-guide {
    width: 900px;
    text-align: center;
    margin: 20px auto;
    padding: 0;
}

div.api-box {
    width: 155px;
    border: 1px solid #1e629e;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;

    a.title {
        color: #000; 
        text-decoration: none;
    }
}

div.api-box:hover {
    background-color: #1e629e;
    cursor: pointer;
    a.title {
        color: #fff;
    }
}

div.product-box {
    width: 200px;
    border: 1px solid #1e629e;
    margin: 10px;
    border-radius: 5px;
    color: #000;
    text-align: left;

    p {
        padding: 10px 10px 10px 70px;
        font-size: 18px;
        text-align: center;
    }

    p.onsen {
        padding: 20px 10px 21px 70px;
    }

    hr {
        border-bottom: 1px solid #1e629e;
        margin: 0;
    }

    ul {
        padding: 15px;
        line-height: 150%;
        li {
            font-size: 16px;
            list-style-type: square;
            margin-left: 30px;

           /* a, a:link, a:active {
                color: #000; 
                text-decoration: none;
            }
            a:hover {
                color: #1e629e; 
                text-decoration: underline;
            }*/
        }
    }

    a.title {
        color: #000; 
        text-decoration: none;
    }
    a.title:hover {
        color: #fff; 
        cursor: pointer;
        /*text-decoration: underline;*/
    }
}

div.product-box:hover {
    background-color: #c3c3c3;
    cursor: pointer;
    a.title:hover {
        cursor: pointer;
    }
}


img.product-logo {
    position: absolute;
    width: 60px;
    margin: 13px 10px;
    padding: 0;
}

img.product-logo-v2 {
    position: absolute;
    width: 60px;
    margin: 8px 10px;
    padding: 0;
}

.supported-environment {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: left;
    line-height: 150%;
    p {
        color: #000;
    }

    ul {
        margin-left: 30px;
        li {
            list-style-type: disc;
        }
    }

    ul.level-2 {
        li {
            list-style-type: square;
        }   
    }
}

.monaca-updates{
    font-size: 14px;
    margin: 20px 0 50px 50px;
    text-align: left;
    line-height: 150%;
}

p.updates-loading {
    text-align: center;
}


/*============END OF INDEX=============*/



