body.home {
  article.main {
    float: none;
    width: auto;
  }
}

#indexContents {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1020px;
  height: 815px;

  #shortcuts {
    padding-top: 15px;
    li {
      background: none;
      height: 231px;
      padding: 0;
      position: relative;
      dt {
        color: $h_color;
        font-size: 18px;
        font-weight: 700;
        margin: 5px 0 5px;
        a:link {color: $h_color; text-decoration: none;}
        a:visited {color: $h_color; text-decoration: none;}
        a:hover {color: #999; text-decoration: none;}
        a:active {color: $h_color; text-decoration: none;}
      }
      dd {
        font-size: 12px;
        padding-bottom: 40px;
        text-align: left;

        .link-right {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  #index-local-nav {
    float: left;
    margin-right: 20px;
    width: 240px;
  }

  .environment {
    float: right;
    margin-bottom: 40px;
    width: calc(100% - 260px);
    h2 {
      line-height: 24px;
      margin-bottom: 10px;
      padding-top: 0;
    }
  }

  table.more-option {
    float: right;
    width: percentage((860px - 250px) / 880px);
    tr {
      td.leftimg {
        vertical-align: top;
        width: 60px;
        padding: 7px 0 0 8px;
      }
      td {
        padding-bottom: 20px;
        padding-right: 10px;
        dl {
          border: none;
          margin: 0;
          dt {
            color: $h_color;
            background: url(../img/common/icon_triangle_black.png) no-repeat 0 8px;
            font-size: 14px;
            font-weight: 700;
            margin: 0 0 2px 0;
            padding-left: 13px;
            &:hover {opacity: 0.7;}
            a {
              font-weight: bold;
            }
            a:link {color: $h_color; text-decoration: none;}
            a:visited {color: $h_color; text-decoration: none;}
            a:hover {color: #999; text-decoration: none;}
            a:active {color: $h_color; text-decoration: none;}
          }
          dd {
            border: 0;
            font-size: 12px;
            line-height: 1.5;
            padding: 0;
          }
        }
      }
    }
  }

  .whatsnew {
    float: right;
    width: calc(100% - 260px);
    h2 {
      line-height: 24px;
      margin-bottom: 10px;
      padding-top: 0;
    }
    table {
      font-size: 12px;
      tr {
        th {
          color: $h_color;
          font-weight: 700;
          line-height: 20px;
          padding-right: 20px;
          padding-left: 6px;
        }
        td {
          line-height: 1.5;
          padding-bottom: 8px;
          font-size: 13px;
        }
      }
    }
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 14px;
    padding-bottom: 6px;
  }

  table.left-menu {
    font-size: 12px;
    width: 250px;
    tr {
      td {
        padding-bottom: 20px;

        ul {
          margin-left: 20px;
        }
        li {
          list-style-type: square;
          line-height: 1.6;
          display: list-item;
        }

        h2 {
          font-size: 16px;
          padding: 0;
          margin-bottom: 0px;
          border-bottom: none;
        }

        h3 {
          padding: 0;
          font-size: 14px;
          color: #5E5E5E;
          font-weight: bold;
          line-height: 1.2;
          margin-bottom: 3px;
        }
      }
    }
  }

  

  footer {
    margin: 30px auto 30px;
    width: 952px;
    float: none;
    padding: 0px;
    position: relative;
  }
  footer-nav {
    padding-top: 20px;
  }
  footer img {
    position: absolute;
    top: 0;
    right: 0px;
  }
}
