/*sample-app-index*/

div.clear.sampleapp.section h3 {
  border-bottom: 1px solid;
}

div.breadcrumb {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 13px;
}

p.sampleapp {
  padding-top: 5px;
  em {
    font-weight: normal;
    clear: both;
    border: 1px solid #35527C;
    border-radius: 2px;
    padding: 5px;
    background-color: #d6d6d6;
    color: #000;
  }
}

/*sample-app-index-July_28*/
div.sampleapp {
  width: 100%;
  hr {
    padding-top: 40px;
    margin-bottom: 50px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    padding-top: 14px;
    padding-left: 5px;
  }
  p {
    padding-left: 5px;
    padding-right: 15px;
  }
  button {
    margin: 20px 5px 5px 5px;
    font-size: 16px;
    border: 1px solid #373d47;
    border-radius: 4px;
    color: #fff;
    background-color: #505763;
    padding: 10px 10px 10px 10px;
  }
  .column-left,
  .column-center,
  .column-right {
    float: left;
    margin-bottom: 40px;
    width: 33.33%;
    .thumb {
      max-width: 100%;
    }
  }
  .column-left {
    clear: both;
  }
}

.sampleapp-list {
  a {
    font-weight: 700;
  }
}

iframe {
    margin-top: 107px;
    margin-left: 30px;
    transform: scale(1);
    width: 285px;
    height: 505px;
}

.iframe-samples {
  background-image: url(../img/samples/frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 346px; 
  height: 717px; 
  margin:auto;
  border: none;
  margin-top: 20px;
}