<nav>
    <ul>
        <li class="sub-menu-parent" id="products_guide">
            <a href="#">PRODUCTS GUIDE</a>
            <ul class="sub-menu">
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}products_guide/monaca_intro/">Monaca Development Overview</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_ide/">Monaca Cloud IDE</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_localkit/">Monaca Localkit</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_cli/">Monaca CLI</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_vs/">Monaca for Visual Studio</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}debugger/">Monaca Debugger</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}backend/">Monaca Backend</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}power_plugins/">Monaca Power Plugins</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}onsenui/">Onsen UI</a></li>
            </ul>
        </li>
        <li class="sub-menu-parent" id="tutorials">
            <a href="#">TUTORIALS</a>
            <ul class="sub-menu">
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_ide/tutorial/">Monaca Cloud IDE Tutorial</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_localkit/tutorial/">Monaca Localkit Tutorial</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_cli/tutorial/">Monaca CLI Tutorial</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_vs/tutorial/">Monaca for Visual Studio Tutorial</a></li>
            </ul>
        </li>
        <li class="sub-menu-parent" id="reference">
            <a href="#">API REFERENCE</a>
            <ul class="sub-menu">
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/monaca_api/">Monaca API</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/cordova_6.2/">Core Cordova Plugins</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/third_party_phonegap/">Third-party Cordova Plugins</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/service_integration/">Service Integration</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/config/">Configuration Files</a></li>
           </ul>
        </li>
        <li class="sub-menu-parent" id="samples">
            <a href="#">SAMPLES & TIPS</a>
            <ul class="sub-menu">
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}sampleapp/samples/">Sample Apps & Templates</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}sampleapp/tips/">Tips & Tricks</a></li>
            </ul>
        </li>
        <li class="sub-menu-parent" id="faq">
            <a href="#">FAQ</a>
            <ul class="sub-menu">
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/general/">General</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/environment/">IDE</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/build/">Build</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/subscription/">Subscription</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/application/">Application</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/usage/">Usage</a></li>
                <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/debugger/">Debug</a></li>
            </ul>
        </li>
   </ul>
</nav>