<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products Guide</a>
  <ul class="dropdown-menu">
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_intro/">Monaca Development Overview</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_ide/">Monaca Cloud IDE</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_localkit/">Monaca Localkit</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_cli/">Monaca CLI</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_vs/">Monaca for Visual Studio</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}debugger/">Monaca Debugger</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}backend/">Monaca Backend</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}power_plugins/">Monaca Power Plugins</a></li>
    <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}onsenui/">Onsen UI</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}tutorials/" class="dropdown-toggle" data-toggle="dropdown">Tutorials</a>
     <ul class="dropdown-menu">
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_ide/tutorial/">Monaca Cloud IDE Tutorial</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_localkit/tutorial/">Monaca Localkit Tutorial</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_cli/tutorial/">Monaca CLI Tutorial</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}monaca_vs/tutorial/">Monaca for Visual Studio Tutorial</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/" class="dropdown-toggle" data-toggle="dropdown">API Reference</a>
     <ul class="dropdown-menu">
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/monaca_api/">Monaca API</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/cordova_6.2/">Core Cordova Plugins</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/third_party_phonegap/">Third-party Cordova Plugins</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/service_integration/">Service Integration</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}reference/config/">Configuration Files</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}sampleapp/" class="dropdown-toggle" data-toggle="dropdown">Samples & Tips</a>
     <ul class="dropdown-menu">
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}sampleapp/samples/">Sample Apps & Templates</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}sampleapp/tips/">Tips & Tricks</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/" class="dropdown-toggle" data-toggle="dropdown">FAQ</a>
     <ul class="dropdown-menu">
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/general/">General</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/environment/">IDE</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/build/">Build</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/subscription/">Subscription</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/application/">Application</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/usage/">Usage</a></li>
      <li><a href="{{#is lang 'ja'}}/ja/{{else}}/en/{{/is}}faq/debugger/">Debug</a></li>
  </ul>
</li>