<!-- Fixed navbar -->
<header class="navbar navbar-inverse" role="navigation">
    <div class="container">

        <div class="navbar-header" id="header-top">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar-left"></span><span class="icon-bar-right"></span>
            </button>
            <a class="navbar-brand" href="https://{{#is lang "ja"}}ja.{{/is}}monaca.io/"><img src="/static/img/common/logo_monaca.png" alt="Monaca"/></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-menu">
            <!-- <ul class="nav navbar-nav navbar-right"> -->
                {{#is lang "ja"}}
                    {{> navigation.ja }}
                {{else}}
                    {{> navigation.en }}
                {{/is}}
            <!-- </ul> -->
        </div>

    </div>
</header>

<!-- Docs local header -->
<header class="global">
    
    <div class="headcont">
            {{#if toctree}}
                <a href="/{{lang}}/"><img class="site-logo" src="/static/img/common/header_logo_docs.png" alt="Monaca Docs" /></a>
                <!-- {{{globaltoc}}} -->
                <div class="navbar-header" id="header-top">
                    <button style="margin-right: 0" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toctree-menu">
                        <span style="background-color: #000" class="icon-bar"></span>
                        <span style="background-color: #000" class="icon-bar"></span>
                        <span style="background-color: #000" class="icon-bar-left"></span>
                        <span style="background-color: #000" class="icon-bar-right"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="toctree-menu">
                    <!-- <ul style="padding-left: 200px" class="nav navbar-nav navbar-left"> -->
                        {{#is lang "ja"}}
                            {{> globaltoc.ja }}
                        {{else}}
                            {{> globaltoc.en }}
                        {{/is}}
                    <!-- </ul> -->
                </div>

            {{/if}}


        <p class="version_selector">
            {{#if cordovaVersions}}
                {{#is lang "ja"}}Cordova {{else}}Cordova {{/is}}
                {{#eachProperty cordovaVersions}}
                    {{#if value.selected}}
                        <span class="currentVersion">{{value.versionName}}</span>
                    {{else}}
                        <span class="alternativeVersion"><a href="javascript:void(0)" onclick='switchVersion("{{value.versionPath}}")'>{{value.versionName}}</a></span>
                    {{/if}}
                {{/eachProperty}}
            {{/if}}
        </p>

        {{#if toctree}}
        {{else}}
            <!-- <aside class="top-page">
                <div class="aside-search-left">
                    <script>
                        (function() {
                            var cx = (LANG === "ja") ? "007288577541380389757:mty_rw-k5qy" : " 007288577541380389757:dbehy9uu97o";
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search style="padding: 0"></gcse:search>
                </div>
            </aside> -->
        {{/if}}
    
  </div>
</header>

<script type="text/javascript">



    $("#monaca_overview").click(function() {
        if (LANG == "ja")
            window.location.href = '/ja/products_guide/monaca_intro/';
        else
            window.location.href = '/en/products_guide/monaca_intro/';
    });
</script>
