<li>
  <span class="nav-title dropdown-toggle">Products</span>
  <ul>
    <li><a href="https://monaca.io/cloud.html">Monaca Cloud</a></li>
    <li><a href="https://monaca.io/visualstudio.html">Monaca for Visual Studio</a></li>
    <li><a href="https://monaca.io/debugger.html">Monaca Debugger</a></li>
    <li><a href="https://monaca.io/localkit.html">Monaca Localkit</a></li>
    <li><a href="http://onsen.io/">Onsen UI</a></li>
    <li><a href="https://monaca.io/enterprise.html">Monaca Enterprise</a></li>
  </ul>
</li>

<li>
  <a class="nav-title" href="https://monaca.mobi/en/pricing">Pricing</a>
</li>

<li>
  <span class="nav-title dropdown-toggle">Resources</span>
     <ul class="dropdown-menu">
      <li><a href="http://monaca.mobi/en/headline">Updates</a></li>
      <li><a href="http://docs.monaca.mobi/en/">Docs</a></li>
      <li><a href="http://monaca.mobi/en/showcase">Showcase</a></li>
      <li><a href="http://monaca.mobi/en/forum">Forum</a></li>
  </ul>
</li>

<li>
  <a class="nav-title" href="http://blog.asial.co.jp/category/22?lang=en" target="_blank">Blog</a>
</li>

<li>
  <a class="nav-title" href="https://monaca.mobi/en/support/index">Services</a>
</li>

<li><a href="https://monaca.mobi/en/register/start" class="nav-title btn-signup">Sign Up</a></li>
<li><a href="https://monaca.mobi/en/login" class="nav-title btn-login">Login</a></li>

<li><a href="/ja/" class="nav-title">日本語</a></li>
