
<aside class="global">
  	<div class="aside-search">
      	<script>
        	(function() {
	        	var cx = (LANG === "ja") ? "007288577541380389757:mty_rw-k5qy" : " 007288577541380389757:dbehy9uu97o";
	        	console.log('sidebar: ' + LANG + '-' + cx);
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
        	})();
      	</script>
      	<gcse:search style="padding: 0"></gcse:search>
  	</div>
  
  	<nav class="aside-main">
    	<div class="aside-search-result-info" style="display: none"></div>
    	<div id="spinner" class="spinner" style="display:none;margin-top:50%;margin-left:50%;">
      	{{{toctree}}}
    	</div>
  	</nav>
</aside>