<div class="toctree-wrapper compound">
    <ul>
        <li id="menu-products">
          <a href="#">Products Guide</a>
          <ul>
            <li id="sub-menu-products" class="toctree-l2"><a href="/en/manual/development/monaca_ide/" class="reference internal">Monaca Cloud</a></li>
            <li class="toctree-l2"><a href="/en/manual/development/monaca_localkit/" class="reference internal">Monaca Localkit</a></li>
            <li class="toctree-l2"><a href="/en/manual/development/monaca_cli/" class="reference internal">Monaca CLI</a></li>
            <li class="toctree-l2"><a href="/en/manual/development/monaca_vs/" class="reference internal">Monaca for Visual Studio</a></li>
            <li class="toctree-l2"><a href="/en/manual/debugger/" class="reference internal">Monaca Debugger</a></li>
            <li class="toctree-l2"><a href="/en/manual/backend/" class="reference internal">Monaca Backend</a></li>
            <li class="toctree-l2"><a href="/en/reference/power_plugins/" class="reference internal">Monaca Power Plugins</a></li>
            <li class="toctree-l2"><a href="/en/onsenui/" class="reference internal">Onsen UI</a></li>
          </ul>
        </li>    
        <li class="toctree-l1">
          <a href="#">API References</a>
          <ul>
            <li class="toctree-l2"><a href="/en/reference/monaca_api/" class="reference internal">Monaca API</a></li>
            <li class="toctree-l2"><a href="/en/reference/cordova_6.2/" class="reference internal">Core Cordova Plugins</a></li>
            <li class="toctree-l2"><a href="/en/reference/third_party_phonegap/" class="reference internal">Third-party Cordova Plugins</a></li>
            <li class="toctree-l2"><a href="/en/reference/service_integration/" class="reference internal">Service Integration</a></li>
            <li class="toctree-l2"><a href="/en/reference/config/" class="reference internal">Configuration Files</a></li>
          </ul>
        </li> 
        <li class="toctree-l1">
          <a href="#">Tutorials</a>
          <ul>
            <li class="toctree-l2"><a href="/en/quick_start/cloud_ide/" class="reference internal">Monaca Cloud</a></li>
            <li class="toctree-l2"><a href="/en/quick_start/localkit/" class="reference internal">Monaca Localkit</a></li>
            <li class="toctree-l2"><a href="/en/quick_start/cli/" class="reference internal">Monaca CLI</a></li>
            <li class="toctree-l2"><a href="/en/quick_start/monaca_vs/" class="reference internal">Monaca for Visual Studio</a></li>
          </ul>
        </li> 
        <li class="toctree-l1">
          <a href="#">Samples & Tips</a>
          <ul>
            <li class="toctree-l2"><a href="/en/sampleapp/samples/" class="reference internal">Samples & Templates</a></li>
            <li class="toctree-l2"><a href="/en/sampleapp/tips/" class="reference internal">Tips & Tricks</a></li>
          </ul>
        </li> 
    </ul>   
</div>

<script type="text/javascript">
//localStorage.setItem('selected_menu', 'toctree-l1');
var selected = localStorage.getItem("selected_menu");
alert(selected);
$(document).ready(function(){
  $("#menu-products").addClass(selected);
  var className = $('#menu-products').attr('class');
  alert(className);
}


  $( "#sub-menu-products" ).click(function() {
    localStorage.setItem('selected_menu', 'toctree-l1 current');
    //selected = localStorage.getItem("selected_menu");
    alert('Yay');
    //var className = $('.myclass').attr('class');
    
    // $("#menu-products").attr('class').removeClass();
    // $("#menu-products").addClass("toctree-l1 current");
    // $(document).ready(function(){
    //   $('#menu-products').removeClass();
    //   $("#menu-products").addClass("toctree-l1 current");
    //   var className = $('#menu-products').attr('class');
    //   alert(className);
    // });
    // $($("#menu-products").attr('class')).removeClass();
    // $("#menu-products").addClass("toctree-l1 current");
    // //

    
  });
  // var d = document.getElementById("menu-products");
  // d.className = d.className + " current";
  // alert(d.className);
</script>
